

<h1><%= @team_name %></h1><br>
<h2>Team Motto: <%= @team_motto %></h2><br>

<% @team_members.each.with_index do |hero, index| %>
  <h2>Hero Name: <%= @heros[index] %></h2>
  <p>
    Hero Power: <%= @hero_powers[index] %>
    <br>
    Hero Biography: <%= @hero_bios[index] %>
  </p>
<% end %>
